/* span.on {
    color: green;
    transition: color ease-in 0.5s;
} */

@font-face {
    font-family: 'Sriracha';
    src: url('../../assets/fonts/Sriracha-Regular.ttf') format('truetype');
}

span {
    font-family: 'Sriracha', 'Times New Roman', Times, serif;
    font-weight: bold;
    transition-duration: 0ms;
    
    &.on {
        transition: color ease-in 0.4s;
        transition: text-shadow ease-in 0.6s;
        --interval: 1s;
        // display: block;
        text-shadow:
            0 0 10px var(--color1),
            0 0 20px var(--color2),
            0 0 40px var(--color3),
            0 0 80px var(--color4);
        will-change: filter, color;
        filter: saturate(60%);
        animation: flicker steps(100) var(--interval) 1s infinite;
        color: lightpink;
        --color1: pink;
        --color2: orangered;
        --color3: red;
        --color4: magenta;
    }
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}